<div class="page-header">
    <h1>Reservas <small>Reserva tu pista!</small></h1>
</div>
<div class="row">
    <div id="pistas" class="col-md-12">

    </div>
</div>

<%- include templates.ejs %>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="js/lib/underscore.js"></script>
<script src="js/lib/backbone.js"></script>
<script src="js/lib/masonry.js"></script>
<script src="js/lib/handlebars.js"></script>
<script src="js/views.js"></script>
<script src="js/models.js"></script>
<script>
    cuadro = new Cuadro();
    cuadro.reset(<%- JSON.stringify(cuadro) %>);
</script>
<script src="js/main.js"></script>
