<!DOCTYPE html>
<html>
    <head>
        <title>Reserva de Pistas!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/css/index.css" rel="stylesheet">
        <link  href="/css/base.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="../../assets/js/html5shiv.js"></script>
        <script src="../../assets/js/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <% include pistas-nav-bar %>
        <div  class="container" id="main-content">
            <div class="page-header">
                <h1>Bienvenido! <small>Reserva tu pista!</small></h1>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>Ahora reservar tus pistas al alcance de un solo click</p>
                    <p>Puedes seleccionar el cuadro de juego que desees en el menu superior</p>
                    <p>¡Prueba a reservar una pista cualquiera para comenzar!</p>
                </div>
            </div>

            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            <script src="/js/lib/bootstrap.min.js"></script>
            <script>
                $('#logout-btn').on('click', function(e) {
                    e.preventDefault();
                    document.location.href = '/logout';
                });
            </script>
        </div>
    </body>
</html>

