<!DOCTYPE html>
<html>
    <head>
        <title>Reserva de Pistas!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/css/login.css" rel="stylesheet">
        <link href="/css/select2-bootstrap.css" rel="stylesheet">
        <link href="/css/select2.css" rel="stylesheet">
        <link  href="/css/base.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="../../assets/js/html5shiv.js"></script>
        <script src="../../assets/js/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div  class="container" id="main-content">
            <div class="page-header">
                <h1>Tus Pistas <small>login</small></h1>
            </div>
            <p class="lead">Reserva tus pistas, haz login!</p>
            <form id="login-form" class="form-horizontal col-md-5">
                <div class="form-group">
                    <label class="col-md-4 control-label lbl-input" for="urb">Urbanización: </label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
                            <select id="urbas" class="">
                            <% urbas.forEach(function(urba, index) { %>
                                <option value="<%= urba._id %>"><%= urba.name %></option>
                            <% }); %>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label lbl-input" for="username">Usuario: </label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input id="username" name="username" class="form-control input-lg"  value="74">
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label lbl-input" for="password">Contraseña: </label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon">*</span></span>
                            <input id="password" name="password" class="form-control input-lg" type="password" value="12345">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="col-md-offset-1 btn btn-primary" id="login-btn">
                    <span class="glyphicon glyphicon-log-in"></span>&nbsp&nbsp&nbspIdentificate
                    </button>
                </div>
            </form>

            <!-- Modal Error Data -->
            <div class="modal fade" id="data-error" tabindex="-1" role="dialog" aria-labelledby="data-error" aria-hidden="true">
              <div class="modal-dialog">
                <div class="alert alert-warning">
                    <button class="close" aria-hidden="true" data-dismiss="modal" type="button">×</button>
                    <h4><strong>Error en los datos de login  </strong><span class="glyphicon glyphicon-info-sign"></span></h4>
                    <p>Los datos de login proporcionados nos son validos, porfavor <strong>reviselos</strong> y <strong>
                    <a href="#" data-dismiss="modal">vuelva a intentarlo.</a></strong></p>
                </div>
              </div>
            </div>

            <!-- Modal Error Ajax -->
            <div class="modal fade" id="server-error" tabindex="-1" role="dialog" aria-labelledby="server-error" aria-hidden="true">
              <div class="modal-dialog">
                <div class="alert alert-danger">
                    <button class="close" aria-hidden="true" data-dismiss="modal" type="button">×</button>
                    <h4><strong>Error del servidor  </strong><span class="glyphicon glyphicon-warning-sign"></span></h4>
                    <p>Ha ocurrido un problema con su petición, es posible que en estos momentos el servidor <strong>no este
                        disponible</strong>, porfavor <strong><a href="#" data-dismiss="modal">intentelo más tarde.</a></strong></p>
                </div>
              </div>
            </div>

            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            <script src="/js/lib/bootstrap.min.js"></script>
            <script src="/js/lib/select2.min.js"></script>
            <script src="/js/lib/select2_locale_es.js"></script>
            <script src="/js/login.js"></script>
        </div>
    </body>
</html>


