<script type="text/x-handlebars-template" id="pista-template">
        <h2>{{nombre}}</h2>
        <div class="horas"></div>
</script>

<script type="text/x-handlebars-template" id="hora-template">
    <label>{{hora}}</label></br>
    <label>{{reserva}}</label>
</script>