<script type="text/x-handlebars-template" id="pista-template">
    <ul class="nav nav-tabs ">
        <li><h2 class="pista-title">{{name}}</h2></li>
        <li class="active"><a href="#{{_id}}hoy" data-toggle="tab">Hoy</a></li>
        <li><a href="#{{_id}}manana" data-toggle="tab">Mañana</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="{{_id}}hoy">
            <div class="hoy horas">
            </div>
        </div>
        <div class="tab-pane fade" id="{{_id}}manana">
            <div class="manana horas">
            </div>
        </div>
    </div>
    <div class="clear"></div>
</script>

<script type="text/x-handlebars-template" id="hora-template">
    <label class="lbl-hora">{{hora}}</label>
    <hr/>
    <label class="lbl-reserva">
        {{#if reserva}}
            {{reserva}}
        {{else}}
            <div class="asterisk">*</div>
        {{/if}}
    </label>

</script>


