<script type="text/x-handlebars-template" id="pista-template">
    <ul class="nav nav-tabs ">
        <li><h2 class="pista-title">{{name}}</h2></li>
        <li class="active"><a href="#{{_id}}hoy" data-toggle="tab">Hoy</a></li>
        <li><a href="#{{_id}}manana" data-toggle="tab">Mañana</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="{{_id}}hoy">
            <div class="hoy horas">
            </div>
        </div>
        <div class="tab-pane fade" id="{{_id}}manana">
            <div class="manana horas">
            </div>
        </div>
    </div>
    <div class="clear"></div>
</script>

<script type="text/x-handlebars-template" id="hora-template">
    <label class="lbl-hora">{{hora}}</label>
    <hr/>
    <label class="lbl-reserva">
        {{#if reserva}}
            {{reserva}}
        {{else}}
            <div class="asterisk">*</div>
        {{/if}}
    </label>
</script>

<script type="text/x-handlebars-template" id="hora-dialog-template">
    <div class="reserva-modal-dialog modal-dialog" >
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">Confirma tu reserva</h3>
            </div>
            <div class="reserva-modal-body">
                <p>Pista: <strong>{{pista}}</strong></p>
                <p>Día: <strong>{{dia}}</strong> a las <strong>{{hora}}</strong>
            </div>
            <div class="modal-footer">
                <button type="button" data-loading-text="Cancelar" autocomplete="off" class="cancelar btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" data-loading-text="Reservando..." autocomplete="off" class="reservar btn btn-primary">
                <span class="glyphicon glyphicon-ok-sign"></span>&nbspReservar</button>
            </div>
        </div>
    </div>
</script>


