/*
 * Nav
 */
.nav-dia {
  float: right;
}
/*
 * Alerts and info
 */
#info {
  font-size: 20px;
  margin-bottom: -3px;
  margin-top: -3px;
}
#info-content-list {
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
}
.bull {
  font-weight: bold;
  font-size: 40px;
  vertical-align: middle;
  margin-right: 10px;
  line-height: 30px;
}
.bull-libre {
  color: #63cf75;
}
.bull-ocupada {
  color: #ff474b;
}
.bull-mine {
  color: #357fd3;
}
/*
 * Hora
 */
@media screen and (min-width: 768px) {
  .reserva-modal-dialog {
    width: 350px;
  }
  .hora {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    float: left;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    box-shadow: 1px 1px 4px #D0D0D0;
    moz-box-shadow: 1px 1px 4px #D0D0D0;
    border-radius: 5.2px;
    padding: 13px;
    margin-bottom: 16.900000000000002px;
    margin-right: 16.900000000000002px;
    width: 130px;
    height: 130px;
  }
  .hora hr {
    background-color: #353535;
    border: 0;
    color: #353535;
    height: 2.6px;
    width: 80%;
    margin-top: 0;
    margin-bottom: 16.900000000000002px;
  }
  .hora .lbl-hora {
    letter-spacing: 1px;
    color: #353535;
    font-size: 19.5px;
    font-weight: bold;
  }
  .hora .lbl-reserva {
    letter-spacing: 1px;
    color: #222222;
    font-size: 32.5px;
    font-weight: bold;
    margin-top: -6.5px;
  }
  .hora .asterisk {
    font-size: 43.333333333333336px;
  }
  .bookmark {
    font-size: 16.9px;
    position: relative;
    overflow: hidden;
    float: left;
    margin-right: -13px;
    margin-top: -15px;
    top: 0px;
    color: #222222;
  }
  .pista {
    margin-top: 19.5px;
    margin-bottom: 65px;
  }
}
@media screen and (max-width: 766px) {
  .hora {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    float: left;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    box-shadow: 1px 1px 4px #D0D0D0;
    moz-box-shadow: 1px 1px 4px #D0D0D0;
    border-radius: 3.4px;
    padding: 8.5px;
    margin-bottom: 11.049999999999999px;
    margin-right: 11.049999999999999px;
    width: 85px;
    height: 85px;
  }
  .hora hr {
    background-color: #353535;
    border: 0;
    color: #353535;
    height: 1.7px;
    width: 80%;
    margin-top: 0;
    margin-bottom: 11.049999999999999px;
  }
  .hora .lbl-hora {
    letter-spacing: 1px;
    color: #353535;
    font-size: 12.75px;
    font-weight: bold;
  }
  .hora .lbl-reserva {
    letter-spacing: 1px;
    color: #222222;
    font-size: 21.25px;
    font-weight: bold;
    margin-top: -4.25px;
  }
  .hora .asterisk {
    font-size: 28.333333333333332px;
  }
  .bookmark {
    font-size: 11.05px;
    position: relative;
    overflow: hidden;
    float: left;
    margin-right: -8.5px;
    margin-top: -10.5px;
    top: 0px;
    color: #222222;
  }
  .pista {
    margin-top: 12.75px;
    margin-bottom: 42.5px;
  }
}
.horas {
  text-align: center;
  margin-top: 10px;
  display: block;
  -webkit-transition: opacity 0.5s ease-in;
  opacity: 0;
  height: 0;
  overflow: hidden;
}
.horas.active {
  opacity: 1;
  height: auto;
}
.hora:hover {
  box-shadow: 4px 4px 4px #D0D0D0;
  moz-box-shadow: 4px 4px 4px #D0D0D0;
}
.bookmark span {
  top: 0px;
}
/*
 * Hora libre
 */
.libre {
  text-shadow: 1px 1px 1px #eeeeee;
  border-color: #d0d0d0;
  background-color: #7ff092;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7ff092), color-stop(1, #63cf75));
  background-image: -o-linear-gradient(to bottom, #7ff092 0%, #63cf75 100%);
  background-image: -moz-linear-gradient(to bottom, #7ff092 0%, #63cf75 100%);
  background-image: -webkit-linear-gradient(top, #7ff092 0%, #63cf75 100%);
  background-image: -ms-linear-gradient(to bottom, #7ff092 0%, #63cf75 100%);
  background-image: linear-gradient(to bottom, #7ff092 0%, #63cf75 100%);
}
.libre:hover {
  background-color: #99ffac;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #99ffac), color-stop(1, #63cf75));
  background-image: -o-linear-gradient(to bottom, #99ffac 0%, #63cf75 100%);
  background-image: -moz-linear-gradient(to bottom, #99ffac 0%, #63cf75 100%);
  background-image: -webkit-linear-gradient(top, #99ffac 0%, #63cf75 100%);
  background-image: -ms-linear-gradient(to bottom, #99ffac 0%, #63cf75 100%);
  background-image: linear-gradient(to bottom, #99ffac 0%, #63cf75 100%);
  border-color: #bcbcbc;
}
.libre:active {
  box-shadow: 3px 3px 5px #63cf75 inset;
  moz-box-shadow: 3px 3px 5px #63cf75 inset;
  background-color: #7ff092;
  background-image: none;
  border-color: #bcbcbc;
}
/*
 * Hora ocupada
 */
.ocupada {
  text-shadow: 1px 1px 1px #555555;
  border-color: #d0d0d0;
  background-color: #ff474b;
}
.ocupada .lbl-hora {
  color: #ededed;
}
.ocupada .lbl-reserva {
  color: #ededed;
}
.ocupada hr {
  background-color: #ededed;
}
.ocupada:hover {
  border-color: #d0d0d0;
  box-shadow: none;
  moz-box-shadow: none;
}
.pista-title {
  margin: 0 20px 0 0;
}
/*
 * Hora mine
 */
.mine {
  text-shadow: 1px 1px 1px #555555;
  border-color: #d0d0d0;
  background-color: #468ad7;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #468ad7), color-stop(1, #357fd3));
  background-image: -o-linear-gradient(to bottom, #468ad7 0%, #357fd3 100%);
  background-image: -moz-linear-gradient(to bottom, #468ad7 0%, #357fd3 100%);
  background-image: -webkit-linear-gradient(top, #468ad7 0%, #357fd3 100%);
  background-image: -ms-linear-gradient(to bottom, #468ad7 0%, #357fd3 100%);
  background-image: linear-gradient(to bottom, #468ad7 0%, #357fd3 100%);
}
.mine .lbl-hora {
  color: #ededed;
}
.mine .lbl-reserva {
  color: #ededed;
}
.mine hr {
  background-color: #ededed;
}
.mine:hover {
  background-color: #5f9adc;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5f9adc), color-stop(1, #357fd3));
  background-image: -o-linear-gradient(to bottom, #5f9adc 0%, #357fd3 100%);
  background-image: -moz-linear-gradient(to bottom, #5f9adc 0%, #357fd3 100%);
  background-image: -webkit-linear-gradient(top, #5f9adc 0%, #357fd3 100%);
  background-image: -ms-linear-gradient(to bottom, #5f9adc 0%, #357fd3 100%);
  background-image: linear-gradient(to bottom, #5f9adc 0%, #357fd3 100%);
  border-color: #bcbcbc;
}
.mine:active {
  box-shadow: 3px 3px 5px #357fd3 inset;
  moz-box-shadow: 3px 3px 5px #357fd3 inset;
  background-color: #468ad7;
  background-image: none;
  border-color: #bcbcbc;
}
.pista-title {
  margin: 0 20px 0 0;
}
/*
 * Modal
 */
.reserva-modal-body {
  position: relative;
  padding: 15px 20px 0 20px;
  font-size: 15px;
}
.reserva-modal-footer {
  padding: 10px 20px 15px;
}
