/*
 * Hora
 */
.hora {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: left;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  box-shadow: none;
  box-shadow: 1px 1px 4px #D0D0D0;
  moz-box-shadow: 1px 1px 4px #D0D0D0;
  border-radius: 5.2px;
  padding: 13px;
  margin-bottom: 19.5px;
  width: 130px;
  height: 130px;
}
.hora hr {
  background-color: #969696;
  border: 0;
  color: #969696;
  height: 2.6px;
  width: 80%;
  margin-top: 0;
  margin-bottom: 19.5px;
}
.hora .lbl-hora {
  letter-spacing: 1px;
  color: #969696;
  font-size: 18.571428571428573px;
  font-weight: bold;
}
.hora .lbl-reserva {
  letter-spacing: 1px;
  color: #757575;
  font-size: 32.5px;
  font-weight: bold;
  margin-top: -6.5px;
}
.hora .asterisk {
  font-size: 43.333333333333336px;
}
.horas {
  margin-top: 10px;
}
.hora:hover {
  box-shadow: 4px 4px 4px #D0D0D0;
  moz-box-shadow: 4px 4px 4px #D0D0D0;
}
/*
 * Hora libre
 */
.libre {
  text-shadow: 1px 1px 1px #d0d0d0;
  border-color: #d0d0d0;
  background-color: #7ff092;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7ff092), color-stop(1, #63cf75));
  background-image: -o-linear-gradient(to bottom, #7ff092 0%, #63cf75 100%);
  background-image: -moz-linear-gradient(to bottom, #7ff092 0%, #63cf75 100%);
  background-image: -webkit-linear-gradient(top, #7ff092 0%, #63cf75 100%);
  background-image: -ms-linear-gradient(to bottom, #7ff092 0%, #63cf75 100%);
  background-image: linear-gradient(to bottom, #7ff092 0%, #63cf75 100%);
}
.libre:hover {
  background-color: #99ffac;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #99ffac), color-stop(1, #63cf75));
  background-image: -o-linear-gradient(to bottom, #99ffac 0%, #63cf75 100%);
  background-image: -moz-linear-gradient(to bottom, #99ffac 0%, #63cf75 100%);
  background-image: -webkit-linear-gradient(top, #99ffac 0%, #63cf75 100%);
  background-image: -ms-linear-gradient(to bottom, #99ffac 0%, #63cf75 100%);
  background-image: linear-gradient(to bottom, #99ffac 0%, #63cf75 100%);
}
.libre:active {
  box-shadow: 3px 3px 5px #63cf75 inset;
  moz-box-shadow: 3px 3px 5px #63cf75 inset;
  background-color: #7ff092;
  background-image: none;
}
/*
 * Hora ocupada
 */
.ocupada {
  text-shadow: 1px 1px 1px #ffffff;
  border-color: #d0d0d0;
  background-color: #f2f2f2;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f2f2f2), color-stop(1, #eeeeee));
  background-image: -o-linear-gradient(to bottom, #f2f2f2 0%, #eeeeee 100%);
  background-image: -moz-linear-gradient(to bottom, #f2f2f2 0%, #eeeeee 100%);
  background-image: -webkit-linear-gradient(top, #f2f2f2 0%, #eeeeee 100%);
  background-image: -ms-linear-gradient(to bottom, #f2f2f2 0%, #eeeeee 100%);
  background-image: linear-gradient(to bottom, #f2f2f2 0%, #eeeeee 100%);
}
.ocupada:hover {
  background-color: #fafafa;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa), color-stop(1, #eeeeee));
  background-image: -o-linear-gradient(to bottom, #fafafa 0%, #eeeeee 100%);
  background-image: -moz-linear-gradient(to bottom, #fafafa 0%, #eeeeee 100%);
  background-image: -webkit-linear-gradient(top, #fafafa 0%, #eeeeee 100%);
  background-image: -ms-linear-gradient(to bottom, #fafafa 0%, #eeeeee 100%);
  background-image: linear-gradient(to bottom, #fafafa 0%, #eeeeee 100%);
}
.ocupada:active {
  box-shadow: 3px 3px 5px #d0d0d0 inset;
  moz-box-shadow: 3px 3px 5px #d0d0d0 inset;
  background-color: #f2f2f2;
  background-image: none;
}
