<!DOCTYPE html>
<html>
    <head>
        <title>Amd</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link  href="/css/base.css" rel="stylesheet">
    </head>
    <body>
        <% include xadm-navbar %>
        <div  class="container" id="main-content">
            <div class="page-header">
                <h1>Usuarios</h1>
            </div>
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
        </div>
    </body>
</html>