@ocupada-light-color: #fcbfbf;
@ocupada-color: #ff474b;
@ocupada-dark-color: #f68d8d;

@hora-text: #353535;
@reserva-text: #222222;
@reserva-text-ocupada: #EDEDED;


@border: #D0D0D0;
@border-hover: #bcbcbc;
@shadow: #D0D0D0;

@hora-text-shadow: #EEE;

@ocupada-text-shadow: #555555;

@libre-light-color: #99FFAC;
@libre-color: #7FF092;
@libre-dark-color: #63CF75;


@mine-light-color: #5f9adc;
@mine-color: #468ad7;
@mine-dark-color: #357fd3;