@ocupada-light-color: #FAFAFA;
@ocupada-color: #F2F2F2;
@ocupada-dark-color: #EEEEEE;
@hora-text: #969696;
@reserva-text: #757575;
@border: #D0D0D0;
@shadow: #D0D0D0;

@white: #FFFFFF;

@libre-light-color: #99FFAC;
@libre-color: #7FF092;
@libre-dark-color: #63CF75;


@mine-light-color: #d4e4f6;
@mine-color: #c3d9f2;
@mine-dark-color: #b2ceef;