@import 'pistas.less';

/*
 * Hora
 */

@size: 130px;

.hora {
    .hora-mixin(@size);
}

.horas {
    margin-top: 10px;
}

.hora:hover {
    box-shadow: 4px 4px 4px #D0D0D0;
    moz-box-shadow: 4px 4px 4px #D0D0D0;
}

/*
 * Hora libre
 */

.libre {
    text-shadow: 1px 1px 1px @shadow;
    border-color: @border;
    .gradient(@green, @dark-green);
}

.libre:hover {
     .gradient(@light-green, @dark-green);
}

.libre:active {
    .hora-active(@green, @dark-green)
}

/*
 * Hora ocupada
 */

.ocupada {
    text-shadow: 1px 1px 1px @white;
    border-color: @border;
    .gradient(@grey, @dark-grey);
}

.ocupada:hover {
    .gradient(@light-grey, @dark-grey);
}

.ocupada:active {
    .hora-active(@grey, @shadow)
}














