@import 'pistas.less';

/*
 * Alerts
 */

 #error-reserva h4 {
    font-size: 30px;
 }


/*
 * Hora
 */

@size: 130px;

.pista {
    margin-top: (15 * @size) / 100;
    margin-bottom: (50 * @size) / 100;
}

.hora {
    .hora-mixin(@size);
}

.horas {
    margin-top: 10px;
}

.hora:hover {
    box-shadow: 4px 4px 4px #D0D0D0;
    moz-box-shadow: 4px 4px 4px #D0D0D0;
}

/*
 * Hora libre
 */

.libre {
    text-shadow: 1px 1px 1px @white;
    border-color: @border;
    .gradient(@libre-color, @libre-dark-color);
}

.libre:hover {
     .gradient(@libre-light-color, @libre-dark-color);
}

.libre:active {
    .hora-active(@libre-color, @libre-dark-color)
}

/*
 * Hora ocupada
 */

.ocupada {
    text-shadow: 1px 1px 1px @white;
    border-color: @border;
    .gradient(@ocupada-color, @ocupada-dark-color);
}

.ocupada:hover {
    .gradient(@ocupada-light-color, @ocupada-dark-color);
}

.ocupada:active {
    .hora-active(@ocupada-color, @shadow)
}

.pista-title {
    margin: 0 20px 0 0;
}

/*
 * Hora mine
 */

.mine {
    text-shadow: 1px 1px 1px @white;
    border-color: @border;
    .gradient(@mine-color, @mine-dark-color);
}

.mine:hover {
    .gradient(@mine-light-color, @mine-dark-color);
}

.mine:active {
    .hora-active(@mine-color, @mine-dark-color)
}

.pista-title {
    margin: 0 20px 0 0;
}

/*
 * Modal
 */

.reserva-modal-body {
    position: relative;
    padding: 15px 20px 0 20px;
    font-size: 15px;
}

.reserva-modal-footer {
    padding: 10px 20px 15px;
}

.reserva-modal-dialog {
    right: auto;
    left: 50%;
    width: 350px;
    padding-top: 30px;
    padding-bottom: 30px;
}



