@import 'pistas.less';

/*
 * Nav
 */
.nav-dia {
    float: right;
}



/*
 * Alerts and info
 */

#info {
    font-size: 20px;
    margin-bottom: -3px;
    margin-top: -3px;
}

#info-content-list {
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
}

.bull {
    font-weight: bold;
    font-size: 40px;
    vertical-align: middle;
    margin-right: 10px;
    line-height: 30px;
}

.bull-libre {
    color: @libre-dark-color;
}

.bull-ocupada {
    color: @ocupada-color;
}

.bull-mine {
    color: @mine-dark-color;
}


/*
 * Hora
 */

@media screen and (min-width: 768px) {
    @size: 130px;

    .reserva-modal-dialog {
        width: 350px;
    }

    .hora {
        .hora-mixin(@size);
    }
    .bookmark {
        font-size: (13 * @size) / 100;
        position: relative;
        overflow: hidden;
        float: left;
        margin-right: -(10 * @size) / 100;
        margin-top: (-(10 * @size) / 100 - 2);
        top: 0px;
        color: @reserva-text;
    }
    .pista {
        margin-top: (15 * @size) / 100;
        margin-bottom: (50 * @size) / 100;
    }
}

@media screen and (max-width: 766px) {
    @size: 85px;

    .hora {
        .hora-mixin(@size);
    }

    .bookmark {
        font-size: (13 * @size) / 100;
        position: relative;
        overflow: hidden;
        float: left;
        margin-right: -(10 * @size) / 100;
        margin-top: (-(10 * @size) / 100 - 2);
        top: 0px;
        color: @reserva-text;
    }
    .pista {
        margin-top: (15 * @size) / 100;
        margin-bottom: (50 * @size) / 100;
    }
}

.horas {
    text-align: center;
    margin-top: 10px;
    display: block;
    -webkit-transition: opacity 0.5s ease-in;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.horas.active {
    opacity: 1;
    height: auto;
}

.hora:hover {
    box-shadow: 4px 4px 4px #D0D0D0;
    moz-box-shadow: 4px 4px 4px #D0D0D0;
}

.bookmark span {
    top: 0px;
}

/*
 * Hora libre
 */

.libre {
    text-shadow: 1px 1px 1px @hora-text-shadow;
    border-color: @border;
    .gradient(@libre-color, @libre-dark-color);
}

.libre:hover {
     .gradient(@libre-light-color, @libre-dark-color);
     border-color: @border-hover;
}

.libre:active {
    .hora-active(@libre-color, @libre-dark-color);
    border-color: @border-hover;
}

/*
 * Hora ocupada
 */

.ocupada {
    text-shadow: 1px 1px 1px @ocupada-text-shadow;
    border-color: @border;
    background-color: @ocupada-color;

    .lbl-hora {
        color: @reserva-text-ocupada;
    }

    .lbl-reserva {
        color: @reserva-text-ocupada;
    }

    hr {
        background-color: @reserva-text-ocupada;
    }
}


.ocupada:hover {
    border-color: @border;
    box-shadow: none;
    moz-box-shadow: none;
}

.pista-title {
    margin: 0 20px 0 0;
}

/*
 * Hora mine
 */

.mine {
    text-shadow: 1px 1px 1px @ocupada-text-shadow;
    border-color: @border;
    .gradient(@mine-color, @mine-dark-color);

    .lbl-hora {
        color: @reserva-text-ocupada;
    }

    .lbl-reserva {
        color: @reserva-text-ocupada;
    }

    hr {
        background-color: @reserva-text-ocupada;
    }
}

.mine:hover {
    .gradient(@mine-light-color, @mine-dark-color);
    border-color: @border-hover;
}

.mine:active {
    .hora-active(@mine-color, @mine-dark-color);
    border-color: @border-hover;
}

.pista-title {
    margin: 0 20px 0 0;
}

/*
 * Modal
 */

.reserva-modal-body {
    position: relative;
    padding: 15px 20px 0 20px;
    font-size: 15px;
}

.reserva-modal-footer {
    padding: 10px 20px 15px;
}





